{% extends "layout/default.html" %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="container">
  <div class="row vertical-center">

    <div class="col-md-8 center text-center ">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger" role="alert">
        {{ message }}
      </div>
      {% endfor %}

      {% endif %}
      {% endwith %}

      <form method="POST" action="/handlesignup" />
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" name="username" class="form-control input_user" value="" placeholder="username">
      </div>
      <div class="input-group mb-2">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fas fa-key"></i></span>
        </div>
        <input type="password" name="password" class="form-control input_pass" value="" placeholder="password">
      </div>
      <div class="input-group mb-2">
        <select id="gender" name="gender" class="mdb-select form-control">
          <option value="" disabled selected>Choose your gender</option>
          <option value="male">male</option>
          <option value="female">female</option>
        </select>
      </div>
      <button type="submit" class="btn btn-success">Sign up</button>
      <p>already a member?
        <a href="login">Login</a>
    </p>

      </form>

    </div>
  </div>
</div>

{% endblock %}